
# .NET
bin/
obj/
*.user
*.suo
.vs/

# Dependencies
packages/
node_modules/

# Environment
*.env
appsettings.*.json
!appsettings.json
!appsettings.Example.json

# Build outputs
**/bin/
**/obj/
/build
/dist

# IDE files
.idea/
.vscode/
*.sln.iml
